<div class="container">
  <h3>{{titulo}}</h3>
    <table class="table">
      <thead class="thead-inverse">
        <tr>
          <th>Nome</th>
          <th>Servicos</th>
          <th>Editar</th>
          <th>Remover</th>
        </tr>
      </thead>
      <tr *ngFor="let c of funcionarios">
        <td>{{c.nome}}</td>
        <td>
          <label *ngFor="let serv of c.servicos">
            {{serv.nome}},
          </label>
        </td>
        <td><a class="btn btn-primary" [routerLink]="['/edicaoFuncionario', c.id]">Editar</a></td>
        <td><a class="btn btn-danger" (click)="remover(c)">Remover</a></td>
      </tr>
    </table>
  <a class="btn btn-success" routerLink="/novoFuncionario">Novo Funcionario</a>
</div>